h3 {
    margin-top: 11rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4.3rem;
    color: #000;
}

.image {
    min-height: 48rem;
    position: relative;
}

.image img {
    width: 45rem;
    height: 30rem;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page {
    min-height: 40rem;
}

#block_1 {
    margin-bottom: 6rem;
    height: 60%;
}

.card {
    min-height: 16rem;
}

.page h4 {
    font-size: 2.2rem;
}

.page p {
    font-size: 1.9rem;
    line-height: 1.7;
    text-indent:2em; 
}

#block_2 {
    width: 100%;
    padding: 6rem 0 4rem;
    background-color: #d3d4d8;
    position: relative;
    color: white;
    height: 50%;
}

#block_2 h4 {
    font-size: 2.2rem;
    position: absolute;
    top: 1rem;
    left: 5%;
}

.img {
    width: 100%;
    min-height: 10rem;
    position: relative;
}

.img img {
    width: 6rem;
    height: 6rem;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#all_card p {
    display: block;
    text-align: center;
    font-size: 1.9rem;
    color: white;
}

@media screen and (min-width: 768px) {
    .image img {
        min-width: 22.5rem;
        min-height: 33.75rem;
        top: 60%;
        left: 39%
    }
    h1 {
        margin-bottom: 7rem;
    }
    h3 {
        margin-bottom: 4rem;
        font-size: 5rem;
    }
    .image {
        min-height: 40rem;
    }
    .page {
        min-height: 40rem;
    }
    #block_1 {
        margin-bottom: 9rem;
    
    }
}

@media screen and (min-width: 992px) {
    .image img {
        left: 36%;
    }
    #block_1 {
        margin-bottom: 13rem;
    
    }
}

@media screen and (min-width: 1200px) {
    .image img {
        left: 30%;
    }
    #block_2 h4 {
        font-size: 2.2rem;
        position: absolute;
        top: 1rem;
        left: 15%;
    }
}