/* *{
    margin:0;
    padding:0;
}
body {
    color:rgb(211, 211, 211);
    background: rgb(7, 5, 5);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */


/* * {
    outline: dashed black;
} */

h1 {
    /* width: 100%; */
    /* font-size: 4.5em; */
    /* letter-spacing: 10px; */
    /* font-size: 80px; */
    font-weight: 400;
    /* letter-spacing: 0.3em; */
    text-shadow: 0 0 25px rgba(254, 254, 255, 0.85);
    color: white;
    font-size:50px;
    z-index: 20;
    margin-bottom:20px;
}

h2 {
    /* font: 2em; */
    font-weight: 400;
    /* letter-spacing: 0.25em; */
    text-shadow: 0 0 25px rgba(254, 254, 255, 0.85);
    color: white;
    /* text-transform: lowercase; */
    z-index: 20;
    /* display:flex; */
    margin-bottom:40px;
}

#fake{
    color:white;
    margin:0;
    font-size :2em;
    /* display: inline; */
    opacity: 0;
}
/* @-webkit-keyframes myfake{
    dispaly:none;
    visibility:visible;
} */
/* h2 span{
    flex-direction:row;
} */

[class^="letter"] {
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

.letter-0 {
    transition-delay: 0.2s;
}

.letter-1 {
    transition-delay: 0.4s;
}

.letter-2 {
    transition-delay: 0.6s;
}

.letter-3 {
    transition-delay: 0.8s;
}

.letter-4 {
    transition-delay: 1.0s;
}

.letter-5 {
    transition-delay: 1.2s;
}

.letter-6 {
    transition-delay: 1.4s;
}

.letter-7 {
    transition-delay: 1.6s;
}

.letter-8 {
    transition-delay: 1.8s;
}

.letter-9 {
    transition-delay: 2.0s;
}

.letter-10 {
    transition-delay: 2.2s;
}

.letter-11 {
    transition-delay: 2.4s;
}

.letter-12 {
    transition-delay: 2.6s;
}

.letter-13 {
    transition-delay: 2.8s;
}

.letter-14 {
    transition-delay: 3.0s;
}

h1,
h2 {
    /*visibility: hidden;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

h1.transition-in,
h2.transition-in {
    visibility: visible;
}

h1 [class^="letter"],
h2 [class^="letter"] {
    opacity: 0;
}

h1.transition-in [class^="letter"],
h2.transition-in [class^="letter"] {
    opacity: 1;
}

#big {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    position: relative;
}

#hovertreecontainer {
    background-color: transparent;
    display: table;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100vh;
    text-align: center;
    /* left: 15px; */
}

#hovertreecontainer>div {
    display: table-cell;
    vertical-align: middle;
}

#canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    cursor: none;
    z-index: 10;
    background-color: black;
}

#stats {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
}

.dg.ac {
    z-index: 100 !important;
}


/* body,
td,
th {
    font-family: Lato, sans-serif;
} */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    /* background-color: transparent; */
    position: fixed;
    font-size: 1rem;
    z-index: 100;
}

li {
    float: left;
}


/* .sidenav li a {
    display: block;
    color: rgb(235, 232, 232);
    padding: 5px 16px;
    text-decoration: none;
}

ul.sidenav li a:hover:not(.active) {
    background-color: rgb(150, 141, 141);
    color: rgb(253, 245, 245);
} */

[class^="hvr-"] {
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    padding: 12px 25px;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    color: rgb(185, 180, 180);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    border: 2px solid rgb(197, 195, 195);
}


/* Bounce To Right */

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-size: 2rem;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #640404;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover {
    color: white;
    text-decoration: none;
    border: 2px solid #421f1f;
}

.hvr-bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.cont {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 2s ease-out infinite;
}

.chevron:first-child {
    animation: move 2s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 2s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #791616;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}